/* 定位 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.mc{margin-left:auto;margin-right:auto;display: block}
.fl{float:left;display:inline;}  /* 可修复IE6中双倍边距bug */
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
/*.clearfix{display:inline-block;}*/
* html .clearfix{height:1%;}
.Clearfix{display:block;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}

/*边距*/
.mtb20{margin-top:10px;margin-bottom:10px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

/*补白*/
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.plr20{padding-right: 20px;padding-left: 20px;}

/*字体颜色*/
.creplay{color:#C6895A}
.cbasic{color:#999}
.corange{color:#f76120;}
.c01{color:#2bb8aa;}

/*字体大小*/
.f50{
	font-size: 50px;
}
.f30{
	font-size: 30px;
}


/*边框线*/
.btb{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.br{
	border-right:1px solid #eee;
}
/*清除浮动*/
.clear {clear: both;}

/*页面宽度*/
.w1170 {width:1170px;}
.w980 {width:980px;}
.w60{width: 60px;display: inline-block;}

/*通用样式*/
body{
	font-size: 12px;
	color:#666;
	font-family: "宋体";
}
a {color:#666;}
a:hover {color:#2bb8aa;}

.borderleft{
	display: inline-block;
	padding-left:10px;
	border-left: 2px solid #2bb8aa;
	line-height: 12px;
	white-space: nowrap;
}